<launch>
    
    <group ns="/histogram_segmentation">
        <rosparam command="load" file="$(find pal_vision_segmentation)/config/default_tabletop_histogram.yaml" />
    </group>

    <node pkg="pal_vision_segmentation" type="histogram_segmentation" name="histogram_segmentation" args="$(find pal_vision_segmentation)/test/etc/pringles_template.jpg">
    <!--
        <remap from="image" to="/gscam/image_raw" />
    -->
        <remap from="image" to="/stereo/left/image" />
    </node>

</launch>

