<launch>
	<node pkg = "tf" type = "static_transform_publisher" name="camera_transform_publisher" args = "0.245 0 0.03 -0.5 0.5 -0.5 0.5 quadrotor camera 50"/>

	<node pkg = "tf" type = "static_transform_publisher" name="depth_transform_publisher" args = "0 -0.046 0.004 0 0 0 camera depth 50"/>

	<group ns="rtabmap">
		<node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start --udebug">   
			<param name="RGBD/OptimizeIterations" type="string" value="50"/>
			<param name="odom_frame_id" type="string" value="odom"/>
			<param name="subscribe_dpeth" type="bool" value="true"/>
			<param name="frame_id" type="string" value="quadrotor"/>
			<param name="approx_sync" type="bool" value="true"/>

			<remap from="rgb/image" to="/realsense/camera/color/image_raw"/>
			<remap from="rgb/camera_info" to="/realsense/camera/color/camera_info"/>
			<remap from="depth/image" to="/depth_registered/image_rect"/>

			<param name="RGBD/AngularUpdate" type="string" value="0.01"/>
			<param name="RGBD/LinearUpdate" type="string" value="0.01"/>
			<param name="Rtabmap/TimeThr" type="string" value="700"/>
			<param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>
			<param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
		</node>
	</group>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense_gazebo_plugin)/rviz/keyboard_mapping.rviz" required="true" />

</launch>